<a href="https://colab.research.google.com/github/abijithnv/Learn.py/blob/main/TASK_16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Given index=["India","Pakistan","Bangladesh","Srilanka","china","Nepal"] and data=[1,3,5,np.nan,6,8] . Create a table with the "index" as indices and data as values.

      Expected output

        India         1.0
        Pakistan      3.0
        Bangladesh    5.0
        Srilanka      NaN
        China         6.0
        Nepal         8.0
        Name: myseries, dtype: float64

In [ ]:
 
import pandas as pd
 
index=["India","Pakistan","Bangladesh","Srilanka","china","Nepal"]
data=[1,3,5,np.nan,6,8] 
r=pd.DataFrame({'index':index,'myseries':data})
 
r.set_index("index",inplace=True)
r.index.name = None
r.myseries

India         1.0
Pakistan      3.0
Bangladesh    5.0
Srilanka      NaN
china         6.0
Nepal         8.0
Name: myseries, dtype: float64

2. Create a data 'dates' starting from 2021-01-01 with range 6. and create a random 6x4 array and a list=('ABCD').now create a dataframe with 'dates' as index and list as the column and data as the datas of this table.


  Expected output

                        A	       B	      C	      D
    2021-01-01	-0.429358	0.779826	0.389625	0.248792
    2021-01-02	-1.044721	0.272807	-0.370437	1.177273
    2021-01-03	-0.961394	-0.525376	0.120843	0.470060
    2021-01-04	1.842266	-0.551049	0.588390	-0.326937
    2021-01-05	0.986198	0.391301	-0.084837	-0.855573
    2021-01-06	-1.531207	0.905463	-0.099024	0.589219

In [ ]:
 
import numpy as np 
 
import pandas as pd 
 
  
 
arr = np.random.rand(24).reshape(6, 4)
list=["A","B","C","D"]
date=pd.date_range(start="2021-01-01",periods=6)
 
df = pd.DataFrame(arr, columns =list,index=date) 
 
print("\nPandas DataFrame: ") 
 
df

Pandas DataFrame:

                   A         B         C         D
2021-01-01  0.678475  0.534713  0.043140  0.968187
2021-01-02  0.286295  0.509440  0.540790  0.654447
2021-01-03  0.197573  0.504967  0.345642  0.749133
2021-01-04  0.646094  0.302543  0.921970  0.379108
2021-01-05  0.787509  0.794124  0.594605  0.025391
2021-01-06  0.158588  0.427286  0.231098  0.226875